.wrapper
  max-width: 1290px
  width: 100%
  margin: 50px auto auto

.input
  outline: none

.nav
  &-link
    text-decoration: none
    color: $text-color
    transition: .3s

    &:hover
      transition: .3s
      color: $text-hover

.button
  outline: none
  background: none
  cursor: pointer
  &_negative
    border: 1px solid $negative
    color: $negative
    &:hover
      background-color: $negative
      color: #fff