.Home
  &-wrapper
    &__title
      color: $text-color
      font-size: 26px
      margin-top: 0
      margin-bottom: 50px
      margin-left: 22px

  &-container
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 40px 0
    justify-content: center
    margin-bottom: 10px

    &__item
      margin: auto
      height: 125px
      width: 80%
      padding: 20px 20px 20px 25px
      border-radius: 20px
      text-align: center
      box-shadow: 0 4px 16px rgba(6, 42, 68, 0.25)
      cursor: pointer
      color: #4f4f4f
      background-size: cover
      background-position: right
      background-repeat: no-repeat
      display: flex
      flex-direction: column
      justify-content: space-between
      transition: .3s

      &:hover
        transition: .3s
        transform: scale(1.05)

      &:active
        transition: .3s
        transform: scale(1.15)

    &__addCourse
      position: relative
      background-size: cover
      background-position: right
      background-repeat: no-repeat
      background-image: url("/img/cards/add.png")

    &__title
      display: block
      margin-bottom: 15px
      font-size: 1.3em
      font-weight: 700
      text-align: left
      color: #ffffff

    &__duration
      color: rgba(255,255,255, 0.7)
      text-align: left


@media(max-width: 1200px)
  .Home
    &-container
      grid-template-columns: 1fr

@media(max-width: 768px)
